-
  const excursionTypes = [
    {
      type: 'Автобусный тур',
      desc: 'Один из\u00A0самых насыщенных впечатлениями, доступных по\u00A0цене и\u00A0популярных видов отдыха. Во\u00A0время одной поездки можно посмотреть достопримечательности сразу нескольких городов, причем обойдется это едва ли не\u00A0в\u00A0разы дешевле классического экскурсионного тура с\u00A0ночевками в\u00A0отелях.',
      ico: 'bus'
    },
    {
      type: 'Джиппинг',
      desc: 'Это путешествие на\u00A0автомобилях высокой проходимости с\u00A0преодолением естественных препятствий, это экстремальный вид спорта и\u00A0отдыха, представляющий собой прохождение туристического маршрута по\u00A0бездорожью на\u00A0автомобилях.',
      ico: 'jeep'
    },
    {
      type: 'Яхтинг',
      desc: 'Это то\u00A0же, что\u00A0круиз на\u00A0лайнере или\u00A0прогулка на\u00A0пароме, только на\u00A0яхте больше свободы, размеры судна в\u00A0разы меньше, нет назойливой команды, можно самостоятельно почувствовать себя капитаном, постоять за\u00A0штурвалом. Именно здесь вы почувствуете величайшие просторы Черногор моря.',
      ico: 'yacht'
    },
    {
      type: 'Каньонинг',
      desc: 'Это экстремально-спортивный вид отдыха, который заключается в\u00A0преодолении каньонов (обводненных или\u00A0нет) при\u00A0помощи альпинистского и\u00A0иного снаряжения, а\u00A0иногда и\u00A0вброд, но\u00A0без\u00A0лодок или\u00A0иных плавсредств.',
      ico: 'canyon'
    },
  ]
