.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  z-index: 15;
  top: 0;
  margin-bottom: -116px;
  padding: 27px $padding-lg;

  &__logo-img {
    width: 40px;
    height: 59px;
    object-fit: contain;
    object-position: center;
  }

  &__menu-btn {
    display: none;
  }
}

@include media(tablet) {
  .header {
    padding: 26px $padding-xs;

    &__main-nav {
      display: none;
    }

    &__menu-btn {
      @include hover();
      display: block;
      width: 40px;
      height: 40px;
      background: url('@img/sprite-svg.svg#menu-burger') no-repeat center / auto;
      cursor: pointer;
    }
  }
}

@include media(mobile) {
  .header {
    padding: 26px $padding-xs;
  }
}

@include media(phone) {
  .header {
    width: 100vw;
    padding: 26px $padding-xs;
  }
}
