.main-nav {
  display: flex;

  &__list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    margin-top: 20px;

    &--footer {
      flex-direction: column;
      gap: 8px;
      margin: 0;
    }
  }

  &__link {
    color: $white-color;
    line-height: 17px;
    text-decoration: none;

    &--active {
      pointer-events: none;
      color: $design-color;
    }

    &--footer {
      color: $text-color;

      &:hover {
        color: $main-color;
      }

      &:visited,
      &:active {
        color: $text-color;
      }
    }
  }
}

@include media(tablet) {
  .main-nav {
    &__list {
      &--footer {
        gap: 5px;
      }
    }

    &__link {
      &--active {
        pointer-events: none;
      }

      &--footer {
        font-size: 12px;
      }
    }
  }
}

@include media(mobile) {
  .main-nav {
    &__list {
      &--footer {
        gap: 5px;
      }
    }

    &__link {
      &--footer {
        font-size: 12px;
      }
    }
  }
}
