.social-links {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__link {
    @include hover();
    width: 30px;
    height: 30px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    &--vk {
      background-image: url('@img/sprite-svg.svg#vk_logo');
    }

    &--instagram {
      background-image: url('@img/sprite-svg.svg#inst_logo');
    }

    &--facebook {
      background-image: url('@img/sprite-svg.svg#fb_logo');
    }

    &--footer {
      width: 32px;
      height: 32px;

      /* stylelint-disable-next-line selector-class-pattern */
      &.social-links__link--vk {
        margin-right: 9px;
        background-size: 31px;
        background-image: url('@img/sprite-svg.svg#vk_logo_color');
      }

      /* stylelint-disable-next-line selector-class-pattern */
      &.social-links__link--instagram {
        margin-right: 8px;
        background-size: 27px 27px;
        background-image: url('@img/sprite-svg.svg#inst_logo_color');
      }

      /* stylelint-disable-next-line selector-class-pattern */
      &.social-links__link--facebook {
        background-size: 26px;
        background-image: url('@img/sprite-svg.svg#fb_logo_color');
      }
    }
  }

  &--footer {
    flex-direction: row;
    gap: 0;
  }
}
