-
  const routes = {
    main: {
      name: 'Главная',
      link: '/'
    },
    excursions: {
      name: 'Экскурсии',
      link: '/excursions.html'
    },
    profile: {
      name: 'Личный кабинет',
      link: '/profile.html'
    }
  };

  const contacts = [
    {
      type: 'whatsapp',
      value: '+7 964 944 18 74',
      link: 'tel:79649441874'
    },
    {
      type: 'telegram',
      value: '+7 918 919 98 28',
      link: '#'
    },
    {
      type: 'telegram',
      value: 'Телеграм-бот PeroTravel',
      link: '#'
    },
    {
      type: 'email',
      value: 'office@perotravel.ru',
      link: 'mailto:office@perotravel.ru'
    }
  ];

  const socialLinks = [
    {
      name: 'VK',
      icon: 'vk_logo',
      colorIcon: 'vk_logo_color',
      link: '#'
    },
    {
      name: 'Instagram',
      icon: 'inst_logo',
      colorIcon: 'inst_logo_color',
      link: '#'
    },
    {
      name: 'Facebook',
      icon: 'fb_logo',
      colorIcon: 'fb_logo_color',
      link: '#'
    }
  ];

  const createPageTitle = () =>
      `PERO TRAVEL | ${myPageTitle}`;
