-
  const routes = {
    main: {
      name: 'Главная',
      link: '/'
    },
    excursions: {
      name: 'Экскурсии',
      link: '/excursions.html'
    },
    profile: {
      name: 'Личный кабинет',
      link: '/profile.html'
    }
  };
