extends ../pug/layout.pug

block meta
  - let myPageId = 'main';
  - let myPageTitle = routes[myPageId].name;
  title= createPageTitle()
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')
block header
  include ../pug/header.pug

block content
  section.top-banner
    h1.top-banner__title ПУТЕШЕСТВУЙ #[span.top-banner__title-italic вместе с] #[span.top-banner__titl PERO TRAVEL]
    .top-banner__social-links
      +socialLinksBlock()

//- block append page-bottom
//-   script(src='js/some.js')
