.svg-i--btn-arrow-dim {
    width: 15px;
    height: 8px;
}

.svg-i--fb_logo-dim {
    width: 15px;
    height: 28px;
}

.svg-i--fb_logo_color-dim {
    width: 15px;
    height: 28px;
}

.svg-i--inst_logo-dim {
    width: 28px;
    height: 28px;
}

.svg-i--inst_logo_color-dim {
    width: 28px;
    height: 28px;
}

.svg-i--mail_logo-dim {
    width: 19px;
    height: 19px;
}

.svg-i--menu-burger-dim {
    width: 40px;
    height: 40px;
}

.svg-i--quotes-dim {
    width: 195px;
    height: 167px;
}

.svg-i--telegram_logo-dim {
    width: 20px;
    height: 18px;
}

.svg-i--vk_logo-dim {
    width: 27px;
    height: 18px;
}

.svg-i--vk_logo_color-dim {
    width: 32px;
    height: 21px;
}

.svg-i--whatsapp_logo-dim {
    width: 19px;
    height: 19px;
}

