$main-color:          #0499dd;
$design-color:        #ffc700;

$white-color:         #ffffff;
$black-color:         #282828;

$gray-color:          #d4d4d4;
$gray-color2:         #ededed;
$gray-color3:         #fbfbfb;

$text-color:          $black-color;

$gradient-color:      linear-gradient(0deg, #0499dd 0%, #17c1bc 100%);

$transparent-color:   rgba(255, 255, 255, 0);

$font-family:         Montserrat, 'Helvetica Neue', Arial, sans-serif;
$font-size:           14px;
$line-height:         1.4;

$screen-xs:           480px;
$screen-sm:           768px;
$screen-md:           992px;
$screen-lg:           1440px;

$padding-xs:          24px;
$padding-sm:          79px;
$padding-lg:          120px;
